/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 1.6;
	color: #3a3a3a;
	background: #f5f5f5;
}

main {
	background: white;
	text-align: center;
}

img {
	width: 100%;
	height: auto;
}

a { 
	color: #3a3a3a;
	text-decoration: none;
}

a:hover {
	color: #666;
}


h2 {
	padding-bottom: 20px;
}




/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-header{
	padding: 1em;
}

.name-top {
	text-align: center;
}

.main-nav li {
	padding: 15px;
	margin-bottom: 5px;
	display: block;
	text-align: center;
	font-weight: 700;
	background: white;
}


/* ---- Layout Containers ---- */

.photo-col img {
	width: 100%;
	padding: 40px;
}

.text-col p {
	text-align: center;
	margin: 0;
	color: #8c8c8c;
}

.main-header {
	padding-bottom: 60px;
}

.container {
	width: 100%;
	max-width: 1150px;
	margin: 0 auto;
	padding: 10px 0 40px;
	background: #f5f5f5;
}

.portfolio {
	padding: 40px 20px;
}

.col {
	width: 100%;
	padding: 20px 0;
}

.col h3 {
	margin: 30px 0 0;
	font-weight: 500;
	font-size: 25px;
}

.col p {
	margin: 10px 15px;
	font-size: 20px;
	font-weight: 400;
}

.main-footer {
	text-align: center;
	padding: 2em;
	background: #f5f5f5;
	color: #666;
}

.main-footer hr {
	margin-top: 80px;
	margin-bottom: 10px;
	border: 1px solid #d9d9d9;
}

.phone,
.email {
	font-weight: 700;
	margin-left: 10px;
}

.name-btm {
	font-weight: 700;
	float: left;
	color: #333;
} 

.top {
	font-weight: 700;
	float: right;
}

.footer-nav li {
	display: none;
}

/* ================================= 
   Media Queries
==================================== */

@media (min-width: 768px) {
	
	.main-nav {
		text-align: center;
	}
	
  	.main-nav li {
        display: inline-block;
	    margin-left: 12px;
	    background: none;
	    font-weight: 700;
   	}
	
	.photo-col {
		width: 50%;
		float: right;
	}
	
	.text-col {
		width: 60%;
		padding-top: 30px;
	}
	
	.text-col p {
		text-align: left;
		font-size: 18px;
	}
	
	.col {
		width: 50%;
		float: left;
		padding: 10px;
	}
	
	.col p {
		margin: 30px 25px;
	}

	.container {
		padding: 10px 0 70px;
	}
	
	
/* ---- Footer Nav ---- */	
	
	.footer-nav {
		float: right;
		padding: 20px;
		font-size: 16px;
	}
	
	.footer-nav li {
	  	display: inline;
	  	margin-left: 40px;
	  	background: none;
	  	font-weight: 700;
	}
		
	.top {
		display: none;
	}
		
			
		
/* ---- Float clearfix ---- */
	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
	
}


@media (min-width: 1024px) {
	
	.name-top {    
	    float: left;
	    margin:0;
   	}
	
	.main-nav {
	    float: right;
	}

	
	.col {
		width: 33.3333%;
	}
	
	.col p {
		margin: 10px 15px;
	}

}




